@mixin ButtonStates($stateName, $color) {
  &.#{$stateName} {
    background: $color;

    &:disabled {
      background: lighten($color, 20%);
    }

    &:hover:not([disabled]) {
      background: darken($color, 10%);
    }
  }

}

.Button {
  color         : white;
  border        : none;
  padding       : 8px 12px;
  font-size     : 12px;
  transition    : all 200ms;
  border-radius : 3px;

  &:not([disabled]) {
    cursor: pointer;
  }

  @include ButtonStates('default', $color-btn);
  @include ButtonStates('primary', $color-btn-highlight);
  @include ButtonStates('danger',  $color-btn-danger);

  & + & {
    margin-left: 8px;
  }


}
