.Form-control {
  margin : 18px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.right {
    text-align: right;
  }
}

.Form-label {
  display        : block;
  font-size      : 12px;
  letter-spacing : 0.05em;
  margin         : 4px;
  color          : $color-text-muted;
}

.Form-select {
  margin        : 8px 4px;
}

.Form-input {
  display       : block;
  font-size     : 14px;
  color         : $color-text-normal;
  padding       : 8px;
  margin        : 8px 4px;
  background    : none;
  border        : none;
  border-bottom : 2px solid rgba(0,0,0,0.1);
  width         : 250px;
  transition    : all 250ms;

  &:hover {
    outline             : none;
    border-bottom-color : rgba(0,0,0,0.2);
  }

  &:focus, &:active {
    outline             : none;
    border-bottom-color : $color-highlight;
  }

  &::placeholder {
    color: #888;
  }
}
