.LoginPage {
  height          : 600px;
  display         : flex;
  align-content   : center;
  justify-content : center;
}

.LoginPage-prompt {
  flex          : 0 0 200px;
  margin        : auto 0;
  box-shadow    : 0 0 3px rgba(0,0,0,0.25);
  background    : $color-foreground;
  border-radius : 3px;
}

.LoginPage-graphic {
  height              : 80px;
  margin-top          : 30px;
  margin-bottom       : 20px;
  background-size     : contain;
  background-image    : url('/static/images/heartbeat.png');
  background-repeat   : no-repeat;
  background-position : center;
}

.LoginPage-userTypes {
  display : flex;
  padding: 12px 0;
}

.LoginPage-userTypeOption {
  flex          : 1 0;
  color         : $color-text-inactive;
  cursor        : pointer;
  margin        : 0 8px;
  padding       : 8px;
  text-align    : center;
  transition    : all 250ms;
  border-bottom : 2px solid $color-line-light;

  &:hover {
    color: $color-text-normal;
  }

  &.active {
    color               : $color-text-normal;
    border-bottom-color : $color-line-medium;
  }
}

.LoginPage-form {
  padding: 0 12px 12px;
}
