.PatientDetail {
  display: flex;
}

.PatientDetail-sidebar {
  flex      : 0 0 auto;
  width     : 250px;
  padding   : 24px;
  max-width : 250px;
}

.PatientDetail-name {
  font-size: 24px;
}

.PatientDetail-content {
  flex: 1 0 auto;
}

.PatientDetail-section {
  margin-top: 24px;
}

.PatientDetail-sectionTitle {
  font-size: 18px;
  margin-bottom: 18px;
}

.PatientDetail-fields {
  margin-top: 24px;
}
