@import 'theme.scss';

.PatientList {
  min-height : 100%;
}

.PatientList-wrap {
  display    : flex;
  min-height : 100%;
}

.PatientList-sidebar {
  flex         : 0 0 auto;
  min-height   : 100%;
  padding      : 24px;
  min-height   : calc(100vh - 32px);
}

.PatientList-sidebarTitle {
  padding   : 16px 0 32px;
  font-size : 20px;
  color: $color-text-muted;
}

.PatientList-results {
  padding: 24px;
  flex: 1 0 auto;
}

.PatientList-result {
  background: white;
  border : 1px solid $color-line-light;
  padding: 12px 24px;
}

.PatientList-resultTitle {
  font-size: 20px;
  margin-bottom: 8px;
}

.PatientList-resultSubtitle {
  font-size: 14px;
  color: $color-text-muted;
}
