@import 'theme.scss';

.Button {
  color         : white;
  border        : none;
  padding       : 8px 12px;
  font-size     : 14px;
  background    : $color-btn;
  border-radius : 3px;

  &.primary {
    background : $color-btn-highlight;
  }
}
