@import 'theme.scss';
@import 'styles/App.scss';
@import 'styles/Box.scss';
@import 'styles/Form.scss';
@import 'styles/Field.scss';
@import 'styles/Button.scss';
@import 'styles/LoginPage.scss';
@import 'styles/PatientDetail.scss';
@import 'styles/PatientList.scss';
@import 'styles/TopNav.scss';

// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans:800');

// Global CSS

body {
  color       : $color-text-normal;
  margin      : 0;
  padding     : 0;
  background  : $color-background;
  font-family : 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
